
body {
  font-family: Arial, sans-serif;
  display: flex;
  height: 100vh;
  margin: 0;
}
.container {
  display: flex;
  width: 100%;
}
.image-section, .form-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.image-section img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.form-section {
  background-color: #f4f4f4;
  box-shadow: 20px ;
}
.form-container {
  width: 80%;
  max-width: 400px;
  z-index: 1;
}
form {
  display: flex;
  flex-direction: column;
}
form input {
  margin: 10px 0;
  padding: 10px;
  font-size: 16px;
}
form button {
  padding: 10px;
  font-size: 16px;
  background-color: #5cb85c;
  color: white;
  border: none;
  cursor: pointer;
}
form button:hover {
  background-color: #4cae4c;
}


.span-docl {
  color: blue;
  cursor:pointer
}

.footer-container {
  position: absolute;
  bottom: 10px;
  width: 100%;
  display: flex;
  justify-content:flex-end;
  
}

.text-docl {
  margin: 0;
}

.button2 {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: gray;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
}

.button2:hover {
  background-color: blue;
}